body{
    background-color: black;
    

}


p{
    color: purple;
}

.a{
    color: darkred;
}

.b{
    color: darkblue;
}

#titulo{
    color: crimson;
    border: 2px solid blue;
    
}

#abc{

    text-align: center;
}

figcaption{
    color: blueviolet;
    border: 1px solid purple;
}
